# Virtual environment
venv/

# VS Code settings
.vscode/

# OS Files
.DS_Store
Thumbs.db

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Byte-compiled files
__pycache__/
*.py[cod]

# Partial match data
data/partial_match_data/

# Elo data
data/elo_history/
data/elo_season_end/
